.text_wrapper{
  margin-top: 25px;
  margin-left: 25px;
  > div{
    text-align: left;
    vertical-align: top;
  }
  > div:last-child{
    display: block;
    margin: 6px 0 0;
  }
}

.share_btn_link{
  float: right;
  background: url(../images/test/link_share.svg);
  cursor: pointer;
}

.share_btn_wrapper{
  width: 120px;
  height: 39px;
  margin: 0 auto 30px;
  > div{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
  }
}

.fruit_list_wrapper{
  margin: 12px auto 72px;
  width: calc(100% - 34px);
}

.fruit_item_wrapper{
  width: calc(50%);
  height: calc(50vw - 17px);
  display: inline-block;
  border: 0.5px solid #E6E6E6;
  border-radius: 4px;
  cursor: pointer;
}

.fruit_title{
  font-weight: 700;
  font-size: 4vw;
  overflow: hidden;
  height: calc(100% * 18 / 190);
  display: flex;
  align-items: center;
  margin-top: calc(100% * 15 / 190);
  margin-left: calc(100% * 21 / 190);
}

.fruit_hash{
  margin-left: calc(100% * 21 / 190);
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  overflow: hidden;
  height: calc(100% * 12 / 190);
  margin-top: calc(100% * 5 / 190);
  display: flex;
  align-items: center;
  color: #B1B1B1;
}

.fruit_img{
  margin: calc(100% * 12 / 190) auto 0;
  width: calc(100% * 10 / 19);
  height: calc(100% * 10 / 19);
}

.progress_wrapper{
  height: 52px;
  border-top: 0.5px solid #E6E6E6;
  margin-left: 62px;
  margin-right: 62px;
  padding-left: 21.5px;
  padding-top: 13px;
}

.progress_text{
  color: #B1B1B1;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
}

.progress{
  height: 8px;
  margin-right: 10px;
  margin-left: 10px;
  width: calc(100% - 111px);
  display: inline-block;
  >div{
    div{
      border-radius: 0px;
    }
  }
}

.progress_1{
  >div{
    >div{
      >div{
        background-color: #897493;
      }
    }
  }
}

.progress_2{
  >div{
    >div{
      >div{
        background-color: #CFA0B5;
      }
    }
  }
}

.progress_3{
  >div{
    >div{
      >div{
        background-color: #DDA753;
      }
    }
  }
}

.type_title{
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #3AD29F;
}


.img_wrapper{
  width: 187px;
  height: 187px;
  margin: 24px auto 21px;
}

.item_title{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #181818;
  margin-bottom: 14px;
}

.item_hash{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto 24px;
  align-items: center;
  text-align: center;
  color: #B1B1B1;
}

.circle_first{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #897493;
  border: 2px solid #555555;
  border-radius: 8px;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 10px;
}

.circle_second{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #CFA0B5;
  border: 2px solid #555555;
  border-radius: 8px;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 10px;
}

.circle_third{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #DDA753;
  border: 2px solid #555555;
  border-radius: 8px;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 10px;
}

.fruit_detail_text{
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #181818;
}
